body{
  margin:20px;
}
a {
  color:#FA8072;
  text-decoration: none;
}
h1{
  border-bottom:1px black solid;
  border-color:brown;
  padding-bottom: 20px;
  margin:0;
  font-size:45px;
  text-align:center;
  color:#FFA07A;
}
#grid{
  display:grid;
  grid-template-columns: 200px 1fr;
}
#grid h2{
  font-size:25px;
  color:#FA8072;
  font-style:normal;
  border-right:1px solid brown;
  width:150px;
  height:70px;
  margin-top:0;
  padding-top:10px;
  padding-left:10px;
  padding-right:0;
}
#grid p{
  color:brown;
  margin:0px;
  padding-top:7px;
}
